.navdeco {
  width: 100%;
  font-size: 2rem;
  color: white; 
  margin-bottom: 50px;
  padding: 20px;
  background-color: rgb(48, 13, 129);
  justify-content: "flex-end"; 
}
a{
  text-decoration: none;
  color: white; 
  font-weight: bold;
  
}